{{- if .IsPage -}}
{{- $desc := .Description | default (.Summary | plainify | truncate 160) -}}
{{- $author := dict "@type" "Person" "name" .Site.Params.author "url" (printf "https://github.com/%s" .Site.Params.github) "image" (printf "https://github.com/%s.png?size=200" .Site.Params.github) -}}
{{- $publisher := dict "@type" "Organization" "name" .Site.Title "url" .Site.BaseURL -}}
{{- $mainEntity := dict "@type" "WebPage" "@id" .Permalink -}}
{{- $crumb1 := dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL -}}
{{- $crumb2 := dict "@type" "ListItem" "position" 2 "name" "Artigos" "item" (print .Site.BaseURL "posts/") -}}
{{- $crumb3 := dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink -}}
{{- $breadcrumb := dict "@type" "BreadcrumbList" "itemListElement" (slice $crumb1 $crumb2 $crumb3) -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" $desc "url" .Permalink "mainEntityOfPage" $mainEntity "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "articleSection" .Section "author" $author "publisher" $publisher "breadcrumb" $breadcrumb -}}
{{- with .Params.cover -}}{{- $schema = merge $schema (dict "image" (. | absURL)) -}}{{- end -}}
{{- with .Params.tags -}}{{- $schema = merge $schema (dict "keywords" .) -}}{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- else -}}
{{- $sameAs := slice (printf "https://github.com/%s" .Site.Params.github) (printf "https://www.linkedin.com/in/%s" .Site.Params.linkedin) (printf "https://medium.com/@%s" .Site.Params.medium) -}}
{{- $publisher := dict "@type" "Organization" "name" .Site.Title "url" .Site.BaseURL "sameAs" $sameAs -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL "description" .Site.Params.Description "publisher" $publisher -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- end -}}
